<h2>Call to Action</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit..</p>
<button>PUSH ME</button>
<!-- Big image (Perhaps background?) -->
<img src="https://source.unsplash.com/random/800x600" alt="DON'T FORGET ME">
<!-- Rent form -->
<form action="">
  <!-- Rent from -->
  <label for="from">Rent From</label>
  <!-- Date -->
  <input type="date" name="from" id="">
  <!-- Time -->
  <input type="time" name="timeFrom" id="">

  <!-- Rent to -->
  <label for="to">Rent To</label>
  <!-- Date -->
  <input type="date" name="to" id="">
  <!-- Time -->
  <input type="time" name="timeFrom" id="">
</form>