<footer class="footer-main">
  <!-- Info section -->
  <section>
    <!-- Call -->
    <div>
      <h4>Call</h4>
    </div>
    <!-- Mail -->
    <div>
      <h4>Mail</h4>
    </div>
  <!-- Social media -->
    <div>
      <h4>Social</h4>
    </div>
  </section>
  <!-- Footer nav -->
  <nav>

  </nav>
  <!-- Copyright -->
  <section>
    <div>Car Rental Supreme</div>
    <p>&copy; <%= currentYear %></p>
  </section>
</footer>