<header class="header-main">
  <!-- Login -->
  <section class="login">
    <p>Login</p>
  </section>
  <!-- Main nav -->
  <nav class="nav-main">
    <!-- Logo -->
    <h1>Car Rental Supreme</h1>
    <ul class="nav-main--items">
      <li>Cars</li>
      <li>lorem</li>
      <li>ipsum</li>
      <li>moo</li>
    </ul>
  </nav>
    <!-- Hero and rent form-->
    <!-- CTA -->
    <% include ./hero %>
</header>