<header class="main">
  <!-- Login -->
  <section>
    <p>Login</p>
  </section>
  <!-- Main nav -->
  <nav>
    <!-- Logo -->
    <h1>Car Rental Supreme</h1>
    <ul>
      <li>Cars</li>
      <li>lorem</li>
      <li>ipsum</li>
      <li>moo</li>
    </ul>
  </nav>
  <!-- Hero and rent form-->
  <section>
    <!-- CTA -->
    <% include ./cta %>
  </section>
</header>