<section class="hero">
  <h2>Check availability</h2>
  <form action="/" method="POST">

      <input type="text" placeholder="First Name" name"firstName" id="firstName">

      <input type="text" placeholder="Last Name" name"lastName" id="lastName">
      <button type="submit">Send</button>
  </form>
</section>