<section class="hero">
  <h2>Call to Action</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit..</p>
  <button>PUSH ME</button>
  <!-- Rent form -->
  <form action="">
    <!-- Rent from -->
    <label for="from">Rent From</label>
    <!-- Date -->
    <input type="date" name="from" id="">
    <!-- Time -->
    <input type="time" name="timeFrom" id="">

    <!-- Rent to -->
    <label for="to">Rent To</label>
    <!-- Date -->
    <input type="date" name="to" id="">
    <!-- Time -->
    <input type="time" name="timeFrom" id="">
  </form>
</section>