<main></main>


<!-- <main class="container">
  <header class="header-cars">
    <h2>Our cars</h2>
  </header>
Large sized cars
  <section class="cars">
    <header>
      <h3>Large cars</h3>
    </header>
    <article class="brand-bmw-x6">
      <header>
        <h3>BMW X6</h3>
      </header>
      <a href="/cars">
        <img src="/img/bmw_x6_black.jpg" alt="">
        <p>Panda panda panda</p>
      </a>
    </article>
  </section>
 Medium sized cars
  <section class="cars">
    <header>
      <h3>Medium cars</h3>
    </header>
    <article>
      <header>
        <h3>Volvo</h3>
      </header>
      <p>Svenssonlivet</p>
      <ul>
        <li>Stick</li>
        <li>Roof Rack</li>
        <li>80$ / Day</li>
      </ul>
    </article>
  </section>
 Small sized cars
  <section class="cars">
    <header>
      <h3>Medium cars</h3>
    </header>
    <article>
      <header>
        <h3>Golf GTI</h3>
      </header>
      <p>The race is on</p>
      <ul>
        <li>Automatic</li>
        <li>No Roof Rack</li>
        <li>50$ / Day</li>
      </ul>
    </article>
  </section>
</main> -->