<section>
  <header>
    <h2>Selection of cars</h2>
  </header>
  <figure class="car-showcase">
    <img class="car-showcase__img" src="#" alt="The Image">
    <figcaption class="car-showcase__caption">BMW</figcaption>
  </figure>
</section>