.nav-main {
  background: blue;
  display: flex;
}

.nav-main--items {
  display: flex;
  list-style-type: none;
  li:first-child {
    background: green;
  }
}

li:nth-child(2) {
  background: yellow;
}

li:nth-child(3) {
  background: rgb(0, 255, 149);
}

li:nth-child(4) {
  background: white;
}