.nav-main {
  display: flex;
}

.nav-main--items {
  display: flex;
  list-style-type: none;
    li {
      border: 1px solid black;
      padding: $small-padding;
      &:first-child {
      background: greenyellow;
    }
  }
}