<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
<body>
  <h1>Cars</h1>
  <% include ../partials/header %>
  <main>
    <header>
      BMW X6
    </header>
    <p>Panda, panda, panda</p>
    <ul>
      <li>Automatic</li>
      <li>Roof Rack</li>
      <li>100$ / Day</li>
    </ul>
  </main>
  <% include ../partials/footer %>
</body>
</html>