<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <% include ../partials/styles %>
  </head>
<body>
  <h1>Cars</h1>
  <!-- Showcase of ALL cars -->
  <%include ../partials/allCars %>
  <!-- Main footer -->
  <% include ../partials/footer %>
  <!-- JavaScript -->
  <% include ../partials/scripts %>
</body>
</html>